body {  
  background-color: #f4f4f4;
  /*  background-color: rgba(0, 137, 61, 0.2);  */
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 250px;
  height:60px;
  background:url(./../img/logo.svg);  
 
}



.player-img-container {
  position:relative;
}

.player-icon {
  width:auto; height:auto;position: absolute; top: 60%;  color:#fff;
   transform:translate(-50%,-50%);opacity:0.2; left: 50%;  
}

.player-icon:hover {
opacity:0.8; 
}
 
.player-img-container i.icon, i.icons {
  font-size: 40px;
}

.pointer {
  cursor: pointer;
}
.ui.fixed.top.menu {
  background-color: #fff;
}
.ui.fixed.top.menu .item {
  color: #222; 
}
.ui.fixed.top.menu .ui.popup .item {
  color: #000000;
}
.ui.fixed.top.menu #toggle {
  display: none;
}
@media (max-width: 768px) {
  .ui.fixed.top.menu .menu.right {
    display: none;
  }
  .ui.fixed.top.menu #toggle {
    display: block;
  }
}
.ui.sidebar.vertical.menu {
  padding-top: 70px;
}
.ui.sidebar.vertical.menu .item,
.ui.sidebar.vertical.menu .title {
  color: #FFFFFF;
  font-size: 14px;
}
.ui.sidebar.vertical.menu .title {
  padding: 0px 0px;
}
.ui.white.header {
  color: #FFFFFF;
}
.section {
  padding: 30px 10px;
}
.section.one {
  height: 350px;    
  display: flex; 
  background-image: url(./../img/glow_home.jpg);
  background-position: center top;
  background-repeat:  no-repeat; 
  background-size:  cover;
 
}

@media (max-width: 768px) {
  .section.one {
    background-position: top center;
    background-size:  cover;
  }
}

 
iframe {
  /* optional */
  width: 100%;
  height: 100%; 
  min-height: 550px;
}

.section.one .grid {
   background-color: rgba(0, 0, 0, 0.6);   
  margin-top: 40px;  margin-bottom: 10px; margin-left: 70px;  margin-right: 70px;  text-align: center;
  padding: 20px;
}
.section.one .grid .header.title {
  font-size: 50px; color: azure;
}
.section.one .grid .header.sub {
  font-size: 15px;
}
.section.one .grid .header.sub .upper {
  margin-top: 40px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
.section.two { 
  min-height: 500px;
  margin-bottom: 30px;
}
.section.two .grid:not(.animated) {
  visibility: hidden;
}
.section.three {
  background-color: #FFFFFF;
  min-height: 450px;
}
.section.four {
  background-color: #878D90
  min-height: 250px;
  ;
}
.section.five {
  background-color: #FFFFFF;
  min-height: 450px;
  margin-bottom: 20px;
}
.section.six {
  background-color: #333;
  max-height: 650px;
}

.section.seven {
  background-color: #f4f4f4;
  max-height: 150px;
}