 
 html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
 

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
 

.btn-flat {
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    border-bottom:5 solid #222;
}

iframe {
  /* optional */
  width: 100%;
  height: 100%; 
  min-height: 550px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.modal-dialog {
  width: 900px;
}

.modal-header { 
background-color:#222; 
padding:15px 25px;  font-size: 30px;
color:#e8c152; 
border-bottom:10px dashed #222;

}

.modal-content { 
/* 80% of window height */
color:#222; 
min-height: 590; 
background-color:#e8c152; 
}       



.modal-footer { 
background-color:#222;  
color: #e8c152; font-weight: bolder;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}
 
.social-box .box{
  background: #FFF;
  border-radius: 10px; 
  padding: 40px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.social-box .box:hover{
 box-shadow: 0 0 6px #4183D7;
}

.social-box .box .box-text{
  margin:20px 0px;
  font-size: 15px;
  line-height: 30px;
}

.social-box .box .box-btn a{
  text-decoration: none;
  color: #4183D7;
  font-size: 16px;
}

.fa{
   color:#4183D7;
}